<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Plants</title>
</head>
<body>
    <h1>Plants for sale:</h1>
    <% for (product of newProducts) { %>
        <h2><%= product.name %></h2>
        <a href="/products/<%= product._id %>" class="href"><img src="<%= product.img %>"></a>
        <p>$<%= product.price %></p>  
        <p class= "<%= product.qty > 0 ? 'stock' : 'hide' %>">In stock: <%= product.qty %></p>
        <p class="<%= product.qty <= 0 ? 'stock' : 'hide' %>">Out of stock</p>
    <%  } %>
     <a href="/products/new" class="href">Sell your plants!</a>
</body>
</html>