<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>Doom & Bloom</title>
</head>
<body>
    <header class="header">
        <div class="header-text">
            <h1><%= product.name %></h1>
        </div>
    </header>
    <main class="main-show">
        <img class="product-show-img" src="<%= product.img %>">
        <p class="product-descrip"><%= product.description %></p>
        <p>Price: $<%= product.price%></p>
        <p class= "<%= product.qty > 0 ? 'stock' : 'hide' %>">In stock: <%= product.qty %></p>
        <p class="<%= product.qty <= 0 ? 'stock' : 'hide' %>">Out of stock</p>
        <div class="button-box">
            <form action="/products/<%= product._id %>?_method=DELETE" method="post">
                <input class="show-btn" type="submit" value="Delete">
            </form>
            <a href="/products/buy/<%= product._id %>" class="<%= product.qty <= 0 ? 'hide' : 'buy-btn' %>"><button class="show-link">Buy</button></a>
            <a href="/products/<%= product._id %>/edit"><button class="show-link">Edit</button></a>
            <a href="/products"><button class="show-link">Back</button></a>
        </div>
    </main> 
    <footer></footer>
</body>
</html>